<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= current_page.data.title || "Intuo Brandbook" %></title>
    <%= favicon_tag "images/favicon.png" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900" %>
    <%= stylesheet_link_tag "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <%= partial "partials/navigation" %>

    <main class="main" role="main">
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <%= partial "partials/footer" %>

    <%= javascript_include_tag "jquery/dist/jquery.js" %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
