<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width">
    <title><%= current_page.data.title || "Intuo Brandbook" %></title>
    <script src="https://use.typekit.net/npz4hwv.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <%= favicon_tag "images/favicon.png" %>
    <%= stylesheet_link_tag "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery/dist/jquery.js" %>
  </head>

  <body>
    <%= partial "partials/navigation" %>

    <main class="main" role="main">
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <%= partial "partials/footer" %>
  </body>
</html>
