<header class="header">
  <div class="header-pattern" style="background-image:url(<%= image_path('school.png') %>)"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <% link_to "/index.html" do %>
          <div class="header-logo">
            <div class="logo logo-white is-medium">
              <div class="logo-symbol">
                <div class="left"></div>
                <div class="right"></div>
              </div>

              <div class="logo-text">
                Intuo
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-sm-8">
        <div class="header-navigation">
          <ul>
            <li><%= link_to "Why", "/strategy/why.html", class: current_page.data.active == "strategy" ? "active" : "" %></li>
            <li><%= link_to "Design", "/design/voice-and-tone.html", class: current_page.data.active == "docs" ? "active" : "" %></li>
            <li><%= link_to "Roadmap", "/roadmap.html", class: current_page.data.active == "roadmap" ? "active" : "" %></li>
          </ul>
        </div>
      </div>
    </div>

    <%= partial "partials/banner" %>
  </div>
</header>
